{{ define "by_port" }}
{{/* Created on 30. 01. 2026 */}}
{{/* Time-stamp: <2026-02-09 14:47:50 krylon> */}}
<html>
    {{ template "head" . }}

    <body>
        {{ template "intro" . }}

        <script src="/static/update.js"></script>

        <script>
         function toggle_port_visibility(n, do_hide) {
                 const containerID = `#content_port_${n}`
                 if (do_hide) {
                         $(containerID).hide()
                 } else {
                         $(containerID).show()
                 }
         }

         {{/*
         $(document).ready(() => {
                 console.log('Initialize page elements...')
                 $('.filter_checkbox').each(() => {
                         $(this).checked = false
                 })
                 $('.port_results').show()
                 $('#toggle_update')[0].checked = settings.update.active
                 $('#update_interval_edit')[0].value = settings.update.interval / 1000
                 window.setTimeout(update_results, settings.update.interval)
         })
                 */}}
        </script>

        <hr />

        {{ $hosts := .Hosts }}
        {{ range $port, $svc := .Ports }}
        <div id="content_port_{{ $port }}" class="port">
            <h3>Port {{ $port }}</h3>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Host</th>
                        <th>Time</th>
                        <th>Response</th>
                    </tr>
                </thead>

                <tbody>
                    {{ range $svc }}
                    <tr>
                        {{ $host := index $hosts .HostID }}
                        <td>{{ $host.Name }} ({{ $host.AStr }})</td>
                        <td>{{ fmt_time .Timestamp }}</td>
                        <td>
                            <pre>
{{ .Response }}
                            </pre>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
        <hr />
        {{ end }}

        {{ template "footer" . }}
    </body>
</html>
{{ end }}
