{{ define "controlpanel" }}
{{/* Created on 08. 11. 2022 */}}
{{/* Time-stamp: <2026-02-09 15:14:37 krylon> */}}
<div id="controlpanel" class="container container-fluid">
    <details>
        <summary>Control Panel</summary>
        <script src="/static/controlpanel.js"></script>
        <script>
         $(document).ready(loadWorkerCount)
        </script>
        <div class="row">
            <div class="col">
                <table class="table horizontal caption-top">
                    <thead>
                        <caption>
                            Current state of {{ app_name }}
                        </caption>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Address generators</th>
                            <td id="cnt_gen_addr">{{.GenAddrCnt}}</td>
                            <td>
                                <button class="btn btn-light pushbutton"
                                        onclick="workerSpawn('GeneratorAddress');">
                                    <img src="/static/icons8-plus-math-60.png" width=32" height="32" />
                                </button>
                                &nbsp;
                                <button class="btn btn-light pushbutton"
                                        onclick="workerStop('GeneratorAddress');">
                                    <img src="/static/icons8-minus-48.png" width=32" height="32" />
                                </button>
                            </td>
                            <td>
                                <input type="number" min="1" max="100" id="amt_gen_addr" value="1" />
                            </td>
                        </tr>

                        <tr>
                            <th>Name Resolvers</th>
                            <td id="cnt_gen_name">{{.GenNameCnt}}</td>
                            <td>
                                <button class="btn btn-light pushbutton"
                                        onclick="workerSpawn('GeneratorName');">
                                    <img src="/static/icons8-plus-math-60.png" width=32" height="32" />
                                </button>
                                &nbsp;
                                <button class="btn btn-light pushbutton"
                                        onclick="workerStop('GeneratorName');">
                                    <img src="/static/icons8-minus-48.png" width=32" height="32" />
                                </button>
                            </td>
                            <td>
                                <input type="number" min="1" max="100" id="amt_gen_name" value="1" />
                            </td>
                        </tr>

                        <tr>
                            <th>XFR workers</th>
                            <td id="cnt_xfr">{{.XFRCnt}}</td>
                            <td>
                                <button class="btn btn-light pushbutton"
                                        onclick="workerSpawn('XFR');">
                                    <img src="/static/icons8-plus-math-60.png" width=32" height="32" />
                                </button>
                                &nbsp;
                                <button class="btn btn-light pushbutton"
                                        onclick="workerStop('XFR');">
                                    <img src="/static/icons8-minus-48.png" width=32" height="32" />
                                </button>
                            </td>
                            <td>
                                <input type="number" min="1" max="100" id="amt_xfr" value="1" />
                            </td>
                        </tr>

                        <tr>
                            <th>Scanners</th>
                            <td id="cnt_scan">{{.ScanCnt}}</td>
                            <td>
                                <button class="btn btn-light pushbutton"
                                        onclick="workerSpawn('Scanner');">
                                    <img src="/static/icons8-plus-math-60.png" width=32" height="32" />
                                </button>
                                &nbsp;
                                <button class="btn btn-light pushbutton"
                                        onclick="workerStop('Scanner');">
                                    <img src="/static/icons8-minus-48.png" width=32" height="32" />
                                </button>
                            </td>
                            <td>
                                <input type="number" min="1" max="100" id="amt_scan" value="1" />
                            </td>
                        </tr>

                        <tr>
                            <th>Hosts in database</th>
                            <td>{{.HostCnt}}</td>
                        </tr>

                        <tr>
                            <th>Ports successfully scanned</th>
                            <td>{{.PortCnt}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </details>
</div>
{{ end }}
