{{ define "main" }}
{{/* Created on 10. 06. 2024 */}}
{{/* Time-stamp: <2025-07-14 15:04:27 krylon> */}}
<!DOCTYPE html>
<html>
    {{ template "head" . }}
    
    <body>
        {{ template "intro" . }}

        <big>Soon to come: <i>Content</i>!!!</big>

        {{ template "footer" . }}
    </body>
</html>
{{ end }}
