{{ define "main" }}
{{/* Created on 10. 06. 2024 */}}
{{/* Time-stamp: <2026-01-28 16:10:33 krylon> */}}
<!DOCTYPE html>
<html>
    {{ template "head" . }}
    
    <body>
        {{ template "intro" . }}

        <big>Soon to come: <b>Content</b>!!!</big>

        <h2>Overview</h2>

        <table class="tbl tbl-striped">
            <thead>
                <tr>
                    <th>Subsystem</th>
                    <th>Active?</th>
                    <th># Workers</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Address Generator</td>
                    <td>{{ .GenActive }}</td>
                    <td>{{ .GenAddrCnt }}</td>
                </tr>
                <tr>
                    <td>Name Resolver</td>
                    <td>{{ .GenActive }}</td>
                    <td>{{ .GenNameCnt }}</td>
                </tr>
                <tr>
                    <td>XFR</td>
                    <td>{{ .XFRActive }}</td>
                    <td>{{ .XFRCnt }}</td>
                </tr>
                <tr>
                    <td>Port Scanner</td>
                    <td>{{ .ScanActive }}</td>
                    <td>{{ .ScanCnt }}</td>
                </tr>
            </tbody>
        </table>

        {{ template "footer" . }}
    </body>
</html>
{{ end }}
