{{ define "network_form" }}
{{/* Created on 15. 07. 2025 */}}
{{/* Time-stamp: <2025-07-16 15:11:58 krylon> */}}
<form>
    <fieldset>
        <legend>
            {{ if .Network }}
            {{ .Network.Addr }} ({{ .Network.ID }})
            {{ else }}
            Add Network
            {{ end }}
        </legend>

        <div class="mb-3" >
            <label for="addr" class="form-label">Address</label>
            <input
                    class="form-control"
                    type="text"
                    id="addr"
                    name="addr"
                    {{ if .Network }}value="{{ .Network.Addr }}"{{ end }}
            />
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input class="form-control"
                   id="description"
                   name="description"
                   type="text"
                   {{ if .Network }}value="{{ .Network.Description }}"{{ end }}
            />
        </div>

        {{ if .Network }}
        <input type="hidden" value="{{ .Network.ID }}" id="id" name="id" />
        {{ end }}

        <button type="submit" class="btn btn-primary">Save</button>
    </fieldset>
</form>
{{ end }}
